.text{
    background: #00c763
    border-radius: 12px;
    padding: 20px;
    margin-top: 25px;
    margin-bottom: 25px;
}
p{
    text-align: center;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
b{
    font-size: large;
}
.card{
    margin: 10px;
}